<nav class="navbar navbar-custom navbar-static-top"> <!-- navbar -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color:#000000" href="/">CrowdSpy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/game">Game</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li class="active"><a href="/about">About</a> </li>
                <li><a href="/legalInfo">Legal Information</a> </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="width: 100%">
    <div class="jumbotron" style="height: 950px">

        <h2>CrowdSpy</h2><br>

        <p>CrowdSpy is a Web-Service which utilises gamification approaches to derive crowd parameter from aerial images of major events.<br><br>

            Crowd context is an information that goes beyond crowd / people density information. During major events (like music festivals or football games) a high crowd density does not necessarily indicate high risk for dangerous situations (e.g. mass panic). In contrary, a high people density might result from queues in front of refreshment stand, from a group of friends talking or dancing as well as other – more or less – harmless situations.<br><br>

            This is a bachelor thesis with the goal to develop a geo-game to derive crowd context information from aerial images.</p>

    </div>
</div>