<nav class="navbar navbar-custom navbar-static-top"> <!-- navbar -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color:#000000" href="/">CrowdSpy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/game">Game</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/about">About</a> </li>
                <li><a href="/legalInfo">Legal Information</a> </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="col-md-8" style="padding-top: 2cm; padding-left: 2cm" ng-if="type == single">
    <img ng-src="{{image}}" width="900" height="600">
</div>
<div ng-if="type == direction" id="myCarousel" class="carousel slide col-md-8" data-ride="carousel" style="padding-top: 2cm; padding-left: 2cm">
    Carousel1
</div>
<div ng-if="type == move" id="myCarousel2" class="carousel slide col-md-8" data-ride="carousel" style="padding-top: 2cm; padding-left: 2cm">
    carousel2
</div>
<div class="col-md-4" style="padding-top: 2cm; padding-right: 2cm">
    Hier kommt die Menüführung/das zu spielende Spiel hin.
    <button type="submit" class="btn btn-primary" ng-click="procedure()">Ready</button>
</div>