<nav class="navbar navbar-custom navbar-static-top"> <!-- navbar -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color:#000000" href="/">CrowdSpy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/game">Game</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/about">About</a> </li>
                <li><a href="/legalInfo">Legal Information</a> </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="col-md-8" style="padding-top: 2cm; padding-left: 2cm">
    <img src="../styles/images/menschenmenge.jpg" width="900" height="600">
</div>
<div class="col-md-4" style="padding-top: 2cm; padding-right: 2cm">
    Hier kommt die Menüführung/das zu spielende Spiel hin.
</div>