<nav class="navbar navbar-custom navbar-static-top"> <!-- navbar -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color:#000000" href="/">CrowdSpy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/game">Game</a></li>
                <li><a href="/about">About</a> </li>
                <li><a href="/legalInfo">Legal Information</a> </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="col-lg-12" style="padding-top: 1cm; padding-left: 1cm; padding-right: 1cm; text-align: center" ng-if="type == 'start' && menu == 'start'">
    <h1>Welcome to the Crowdspy Crowdsourcing Application</h1>
    <h3>Here will follow a nice tutorial and stuff. Click the Button to start!</h3>
    <button type="submit" class="btn btn-primary" ng-click="procedure()">Ready</button>
</div>

<div class="col-lg-12" style="padding-top: 1cm; padding-left: 1cm; padding-right: 1cm; text-align: center" ng-if="type == 'end' && menu == 'end'">
    <h1>That was the Crowdspy Crowdsourcing Application</h1>
    <h3>If its implemented go see the leaderboard. Thank you for your help!</h3>
    <button type="submit" class="btn btn-primary" ng-click="restart()">Restart</button>
</div>

<div class="col-md-8" style="padding-top: 1cm; padding-left: 1cm; padding-right: 1cm; padding-bottom: 1cm" ng-if="type == 'single'">
    <img ng-src="{{image}}">
</div>

<div ng-if="type == 'direction'" id="myCarousel" class="carousel slide carousel-fade carousel-fullscreen col-md-8" data-ride="carousel" style="padding-top: 1cm; padding-left: 3cm; padding-right: 3cm; padding-bottom: 0.9cm">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img ng-src="{{dir1}}">
        </div>

        <div class="item">
            <img ng-src="{{dir2}}">
        </div>

        <div class="item">
            <img ng-src="{{dir3}}">
        </div>

        <div class="item">
            <img ng-src="{{dir4}}">
        </div>

        <div class="item">
            <img ng-src="{{dir5}}">
        </div>
    </div>

    <span class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>

    </span>
    <span class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </span>

</div>

<div ng-if="type == 'move'" id="myCarousel2" class="carousel slide carousel-fade carousel-fullscreen col-md-8" data-ride="carousel" style="padding-top: 1cm; padding-left: 3cm; padding-right: 3cm; padding-bottom: 0.9cm">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel2" data-slide-to="1"></li>
        <li data-target="#myCarousel2" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img ng-src="{{move1}}">
        </div>

        <div class="item">
            <img ng-src="{{move2}}">
        </div>

        <div class="item">
            <img ng-src="{{move3}}">
        </div>
    </div>

    <span class="left carousel-control" href="#myCarousel2" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </span>
    <span class="right carousel-control" href="#myCarousel2" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </span>

</div>

<div class="col-md-8" style="padding-top: 1cm; padding-left: 1cm; padding-right: 1cm; padding-bottom: 1cm" ng-if="type == 'juxtapose'">
    <juxtapose
        before-image-url=jux1
        after-image-url=jux2>
    </juxtapose>
</div>

<div class="col-md-3" style="padding-left: 1cm; padding-bottom: 1cm" ng-if="menu == 'count'">
    <form>
        <h3>Type in how many people you see in the red box in the picture.</h3><br>
        <input type="number" name="count" ng-model="vm.countFirst"><br><br>
        <h3>If you can't decide how many people there are just guess it.</h3><br>
    </form>
    <h3>Decide how difficult it was to answer the question</h3><br>
    <p><b>Selected: {{vm.question.difficulty}}</b></p><br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'very hard'" ng-true-value="'very hard'" ng-model="vm.question.difficulty" value="vhard"> It was very hard<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'hard'" ng-true-value="'hard'" ng-model="vm.question.difficulty" value="hard"> It was hard<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'normal'" ng-true-value="'normal'" ng-model="vm.question.difficulty" value="dnormal"> It was normal<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'rather easy'" ng-true-value="'rather easy'" ng-model="vm.question.difficulty" value="reasy"> It was rather easy<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'easy'" ng-true-value="'easy'" ng-model="vm.question.difficulty" value="easy"> It was easy<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'very easy'" ng-true-value="'very easy'" ng-model="vm.question.difficulty" value="veasy"> It was very easy<br><br>
    <button type="submit" class="btn btn-primary" ng-click="countSave()">Next</button>
</div>

<div class="col-md-3" style="padding-left: 1cm; padding-bottom: 1cm" ng-if="menu == 'decision'">
        <h3>Decide in your own opinion how dense the shown crowd is</h3><br>
    <p><b>Selected: {{vm.selected}}</b></p><br>
        <input type="checkbox" name="density" ng-checked="selected == 'very dense'" ng-true-value="'very dense'" ng-model="vm.selected" value="vdense"> It's very dense (dangerous)<br>
        <input type="checkbox" name="density" ng-checked="selected == 'dense'" ng-true-value="'dense'" ng-model="vm.selected" value="dense"> It's dense (not dangerous)<br>
        <input type="checkbox" name="density" ng-checked="selected == 'normal'" ng-true-value="'normal'" ng-model="vm.selected" value="dnormal"> It's normal. (dense but not dangerous)<br>
        <input type="checkbox" name="density" ng-checked="selected == 'rather light'" ng-true-value="'rather light'" ng-model="vm.selected" value="vnormal"> It's rather light (normal movement possible)<br>
        <input type="checkbox" name="density" ng-checked="selected == 'light'" ng-true-value="'light'" ng-model="vm.selected" value="light"> It's light (much space between people)<br>
        <input type="checkbox" name="density" ng-checked="selected == 'very light'" ng-true-value="'very light'" ng-model="vm.selected" value="vlight"> It's very light (almost no people)<br><br>
    <h3>Place the square where you think the density is the highest</h3><br><br>
    <my-square plus2="{{canvas2}}"></my-square><br><br>
    <h3>Decide how difficult it was to answer the question</h3><br>
    <p><b>Selected: {{vm.question.difficulty}}</b></p><br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'very hard'" ng-true-value="'very hard'" ng-model="vm.question.difficulty" value="vhard"> It was very hard<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'hard'" ng-true-value="'hard'" ng-model="vm.question.difficulty" value="hard"> It was hard<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'normal'" ng-true-value="'normal'" ng-model="vm.question.difficulty" value="dnormal"> It was normal<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'rather easy'" ng-true-value="'rather easy'" ng-model="vm.question.difficulty" value="reasy"> It was rather easy<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'easy'" ng-true-value="'easy'" ng-model="vm.question.difficulty" value="easy"> It was easy<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'very easy'" ng-true-value="'very easy'" ng-model="vm.question.difficulty" value="veasy"> It was very easy<br><br>
    <button type="submit" class="btn btn-primary" ng-click="decisionSave()">Next</button>
</div>

<div class="col-md-3" style="padding-left: 1cm; padding-bottom: 1cm;" ng-if="menu == 'circle'">
    <h3>Select that part of the pie chart where you think the people are moving to</h3><br>
    <div>
        <my-chart chart-id="chart-1" source="data" type="pie"></my-chart><br>
    </div>
    <h3>Place the arrows in that position in which the people are going</h3><br>
    <my-arrow plus={{canvas}} set-fn="setDirectiveFn(theDirFn)" set-fn2="setDirectiveFn2(theDirFn2)"></my-arrow><br>
    <button type="submit" class="btn btn-primary" ng-click="clearCanvas()">Clear All</button>
    <button type="submit" class="btn btn-primary" ng-click="clearArrow()">Clear Last Arrow</button><br>
    <h3>Decide how difficult it was to answer the question</h3><br>
    <p><b>Selected: {{vm.question.difficulty}}</b></p><br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'very hard'" ng-true-value="'very hard'" ng-model="vm.question.difficulty" value="vhard"> It was very hard<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'hard'" ng-true-value="'hard'" ng-model="vm.question.difficulty" value="hard"> It was hard<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'normal'" ng-true-value="'normal'" ng-model="vm.question.difficulty" value="dnormal"> It was normal<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'rather easy'" ng-true-value="'rather easy'" ng-model="vm.question.difficulty" value="reasy"> It was rather easy<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'easy'" ng-true-value="'easy'" ng-model="vm.question.difficulty" value="easy"> It was easy<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'very easy'" ng-true-value="'very easy'" ng-model="vm.question.difficulty" value="veasy"> It was very easy<br><br>
    <button type="submit" class="btn btn-primary" ng-click="circleSave()">Next</button>
</div>

<div class="col-md-3" style="padding-left: 1cm; padding-bottom: 1cm" ng-if="menu == 'movement'">
    <h3>Decide if the crowd is moving or not</h3><br>
    <p><b>Selected: {{vm.movement}}</b></p><br>
    <input type="checkbox" name="movement" ng-checked="movement == 'moving'" ng-true-value="'moving'" ng-model="vm.movement" value="moving"> Crowd is moving<br>
    <input type="checkbox" name="movement" ng-checked="movement == 'static'" ng-true-value="'static'" ng-model="vm.movement" value="static"> Crowd is static<br>
    <h3>Decide how difficult it was to answer the question</h3><br>
    <p><b>Selected: {{vm.question.difficulty}}</b></p><br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'very hard'" ng-true-value="'very hard'" ng-model="vm.question.difficulty" value="vhard"> It was very hard<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'hard'" ng-true-value="'hard'" ng-model="vm.question.difficulty" value="hard"> It was hard<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'normal'" ng-true-value="'normal'" ng-model="vm.question.difficulty" value="dnormal"> It was normal<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'rather easy'" ng-true-value="'rather easy'" ng-model="vm.question.difficulty" value="reasy"> It was rather easy<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'easy'" ng-true-value="'easy'" ng-model="vm.question.difficulty" value="easy"> It was easy<br>
    <input type="checkbox" name="difficulty" ng-checked="difficulty == 'very easy'" ng-true-value="'very easy'" ng-model="vm.question.difficulty" value="veasy"> It was very easy<br><br>
    <button type="submit" class="btn btn-primary" ng-click="movementSave()">Next</button>
</div>
