<div class="jumbotron" style="background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.7); padding: 10px">
    <p>Modern satellite-based Earth observation data is a valuable source for monitoring and modeling global environmental phenomena.</p>
    </br>
    <p>GISCoLab was designed to allow users to write analysis scripts in an easy-to-use web interface, to access available data sets, to have analyzes calculated by a data management and analysis software, to display results and to work togehter with other scientists.</p>
    </br>
    <p>Join the movement and get your free account now!</p>
</div>