<body>
<div class="col-xs-1"></div>
<div>
    <object>
        <img src="../styles/images/Crowdspy.png" style="width: 70%; align-items: center; padding-top: 1cm; padding-left: 5cm">
    </object>
</div>
<div class="col-xs-10">
    <div class="container" style="width: 100%; padding-top: 9cm; padding-left: 5cm">
<div class="jumbotron" style="background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.7); padding-left: 2cm">
            <p style="font-size: medium">CrowdSpy is a Web-Service which utilises gamification approaches to derive crowd pattern from aerial images of major events.
            <br>
                <br>
            CrowdSpy uses Crowdsourcing to collect data about crowds of people like density, quantity or the direction of movement. <br>The data then will be used for machine leraning to help computers to identify these parameters on their own.
            <br>
                <br>
                Help to generate good data and start the application!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/game/start"><button type="submit" class="btn btn-primary btn-lg">Continue</button></a> </p>
</div>
    </div>
</div>
<div class="col-xs-1"></div>
</body>
<link rel="stylesheet" href="../styles/css/background.css"/>
