.carousel-fullscreen .carousel-inner .item {
    height: 700px;
    width: 1800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-fullscreen {
    background-color: #FFFFFF;
}

.carousel-fullscreen .carousel-caption {
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.carousel-indicators li {
    background-color: #37E514;
    background-color: rgba(0,100,0,1);
    margin-bottom: 1cm;
}

.carousel-indicators .active {
    background-color: #37E514;
    margin-bottom: 1cm;
}

.carousel-control {
    color: rgba(0,100,0,1);
}

.carousel-fullscreen .carousel-inner .item {
    height: 100vh;
    min-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-fullscreen .carousel-caption {
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.img {
    max-height: 100%;
    max-width: 100%;
}