.navbar-current {
    background-color: #23950D;
    color: #37E514;
    border-radius:0;
    margin-bottom: 0px;
}

.navbar-current .navbar-nav > li > a {
    color: #37E514;
}
.navbar-current .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #23950D;
    background-color: #37E514;
    font-weight: bold;
}
.navbar-current .navbar-brand {
    color:#eeeeee;
}
.navbar-current .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #2BFF00;
}
.navbar-current .navbar-toggle {
    background-color:#FFFFFF;
}
.navbar-current .icon-bar {
    background-color:#FFFFFF;
}


.navbar-custom {
    background-color: #23950D;
    color: #37E514;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color: #37E514;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #23950D;
    background-color: #37E514;
    font-weight: bold;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #2BFF00;
}
.navbar-custom .navbar-toggle {
    background-color:#FFFFFF;
}
.navbar-custom .icon-bar {
    background-color:#FFFFFF;
}

.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
    background-color: #444;
}